@{
    Layout = "MasterPage";
    ViewBag.Title = "Cadastrar usuários";
}
<h1>@ViewBag.Title</h1>

<form action="/Usuario/Cadastrar " method ="POST">
    <label for="nome">Nome</label>
    <input type="text" name="nome">

    <label for="email">Email</label>
    <input type="text" name ="email">

    <label for="senha">Senha</label>
    <input type="text" name ="senha">

    <label for="datanascimento">Data de Nascimento</label>
    <input type="date" name ="datanascimento">

    <input type="submit" value="Cadastrar">
</form>