*{
    margin:0;
    padding:0;
}

main{
    background-image: url(../images/fundo-banner.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    width:100%;
}

header{
    background-color:#f2a;
}

header h1{
    color:#fff;
}